
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
    margin: 0 auto;
}

#map {
    height: 500px;
}

#input-fields {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px
}

section {
    margin-bottom: 20px;
}

h1, h2 {
    text-align: center;
}
